In [1]:
import pandas as pd
import lightgbm as lgb
import xgboost as xgb
import numpy as np

In [2]:
# 读取训练数据
origin_train_df = pd.read_csv("[new] yancheng_train_20171226.csv")
# 读取预测数据
origin_test_df = pd.read_csv("yancheng_testA_20171225.csv")

/Users/zhoujunwen/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
origin_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20157 entries, 0 to 20156
Data columns (total 33 columns):
sale_date                20157 non-null int64
class_id                 20157 non-null int64
sale_quantity            20157 non-null int64
brand_id                 20157 non-null int64
compartment              20157 non-null int64
type_id                  20157 non-null int64
level_id                 20157 non-null object
department_id            20157 non-null int64
TR                       20157 non-null object
gearbox_type             20157 non-null object
displacement             20157 non-null float64
if_charging              20157 non-null object
price_level              20157 non-null object
price                    20157 non-null object
driven_type_id           20157 non-null int64
fuel_type_id             20157 non-null object
newenergy_type_id        20157 non-null int64
emission_standards_id    20157 non-null int64
if_MPV_id                20157 non-null int64
if_luxurious_id          20157 non-null int64
power                    20157 non-null float64
cylinder_number          20157 non-null int64
engine_torque            20157 non-null float64
car_length               20157 non-null int64
car_width                20157 non-null int64
car_height               20157 non-null int64
total_quality            20157 non-null int64
equipment_quality        20157 non-null int64
rated_passenger          20157 non-null object
wheelbase                20157 non-null int64
front_track              20157 non-null int64
rear_track               20157 non-null int64
avg_price                20157 non-null float64
dtypes: float64(4), int64(21), object(8)
memory usage: 5.1+ MB

In [35]:
# 第一版不考虑和时间相关的特征
# 处理价格段price_level这个字段
def charge_price_level(level):
    if "-" in level:
        # 价格区间
        min_price = int(level.split("-")[0])
        max_price = int(level.split("-")[1][:-1])
        return (min_price + max_price) / 2.0
    else:
        # 低于……价格
        return int(level[:-2])

    
def charge_power(power):
    power = str(power)
    if power == "-":
        return -1
    if "/" in power:
        # 分数表示法
        return float(power.split("/")[0]) / float(power.split("/")[1])
    else:
        return float(power)

def charge_rated_passenger(value):
    value = str(value)
    if "-" in value:
        return int(value.split("-")[1])
    else:
        return int(value)
    
origin_train_df["avg_price"] = origin_train_df["price_level"].apply(charge_price_level)
origin_train_df["power"] = origin_train_df["power"].apply(charge_power)
origin_train_df["engine_torque"] = origin_train_df["engine_torque"].apply(charge_power)
origin_train_df["rated_passenger"] = origin_train_df["rated_passenger"].apply(charge_rated_passenger)
# 标签列
ori_label_name = "sale_quantity"
# 需要聚合后计算均值的列
mean_lst_names = ["sale_date", "class_id", "compartment", "displacement", "avg_price", "power", 
                  "cylinder_number", "engine_torque", "car_length", "car_width", "car_height", "total_quality", 
                  "equipment_quality", "rated_passenger", "wheelbase", "front_track", "rear_track"]
# 需要聚合后计算种类数的字段
count_lst_names = ["sale_date", "class_id", "compartment", "type_id", "level_id", "department_id", "TR", 
                   "gearbox_type", "displacement", "if_charging", "driven_type_id", "fuel_type_id", 
                   "newenergy_type_id", "emission_standards_id", "if_MPV_id", "if_luxurious_id", "rated_passenger"]
label_df = origin_train_df[["sale_date", "class_id", ori_label_name]].groupby(["sale_date", "class_id"]).sum()
mean_df = origin_train_df[mean_lst_names].groupby(["sale_date", "class_id"]).aggregate(np.mean)
count_df = origin_train_df[count_lst_names].groupby(["sale_date", "class_id"]).aggregate(
    lambda lst: len(set(lst.values)))

In [36]:
train_df = label_df.copy()
mean_train_names = [name + "_mean" for name in mean_lst_names[2:]]
count_train_names = [name + "_count" for name in count_lst_names[2:]]
train_df[mean_train_names] = mean_df[mean_lst_names[2:]]
train_df[count_train_names] = count_df[count_lst_names[2:]]
train_df

                    sale_quantity  compartment_mean  displacement_mean  \
sale_date class_id
201201    125403               90          2.000000           2.600000
          136916              665          3.000000           2.271429
          178529             1739          1.000000           1.087500
          194450               65          2.000000           2.000000
          198427               47          3.000000           1.500000
          209945              168          3.000000           2.750000
          248352             1713          3.000000           1.466667
          281301              965          3.000000           1.680000
          290854              632          2.000000           2.200000
          291086              507          3.000000           2.133333
          304458              499          3.000000           1.700000
          321683              478          3.000000           1.600000
          349023             2522          3.000000           1.650000
          354068              460          3.000000           1.733333
          379876              245          3.000000           1.800000
          384924              738          3.000000           2.350000
          395234              102          3.000000           2.100000
          409854              120          2.000000           2.000000
          425432             1994          3.000000           1.600000
          453752               96          3.000000           2.250000
          468392              969          3.000000           2.133333
          472603              319          3.000000           1.733333
          482497              182          2.000000           2.000000
          527809              199          3.000000           2.200000
          559132              428          3.000000           2.250000
          576298              301          2.000000           1.900000
          580470              467          3.000000           1.500000
          580634              506          2.000000           1.600000
          597927             1321          3.000000           2.133333
          603972              513          3.000000           2.528571
...                           ...               ...                ...
201710    745137              852          2.666667           1.600000
          750340               95          2.000000           1.500000
          760412               66          2.000000           2.000000
          786351              104          3.000000           1.600000
          789290               77          3.000000           1.500000
          810398              114          2.000000           1.600000
          815230              168          2.000000           1.400000
          819061               94          2.000000           2.000000
          842246              121          2.000000           1.800000
          851857              157          2.000000           2.000000
          854079              162          3.000000           1.800000
          854548              122          2.000000           1.500000
          861459              252          3.000000           1.500000
          871642              155          2.000000           1.500000
          872180              127          2.000000           2.000000
          883691              254          3.000000           1.800000
          890189             1302          2.000000           1.500000
          905061              363          2.000000           1.550000
          905745              183          2.000000           1.400000
          914348              483          2.000000           1.466667
          923841              642          3.000000           1.500000
          924154             1192          3.000000           1.500000
          948936               75          2.000000           1.500000
          950264             1231          2.000000           1.500000
          953842             1061          2.000000           1.600000
          961362               73          2.000000           2.000000
          961962               80          3.000000           1.500000
          963845              207          2.000000           1.600000
          973106              108          2.000000           1.500000
          978089              400          3.000000           1.500000

                    avg_price_mean  power_mean  cylinder_number_mean  \
sale_date class_id
201201    125403              42.5  145.333333              4.666667
          136916              17.5  121.857143              4.000000
          178529               5.0   54.250000              4.000000
          194450              17.5  104.000000              4.000000
          198427               6.5   79.000000              4.000000
          209945              42.5  193.000000              6.000000
          248352               9.0   82.600000              4.000000
          281301              30.0  115.000000              4.000000
          290854              17.5  117.500000              4.000000
          291086              22.5  137.000000              4.000000
          304458              12.5   96.500000              4.000000
          321683              17.5   96.000000              4.000000
          349023              12.5  104.500000              4.000000
          354068              12.5   92.333333              4.000000
          379876              12.5   93.000000              4.000000
          384924              22.5  164.750000              4.500000
          395234              17.5  114.000000              4.000000
          409854              12.5   98.000000              4.000000
          425432              12.5   86.800000              4.000000
          453752              42.5  136.000000              5.000000
          468392              22.5  120.666667              4.000000
          472603              12.5   88.000000              4.000000
          482497              42.5  155.000000              4.000000
          527809              42.5  155.000000              4.666667
          559132              22.5  137.500000              5.000000
          576298               6.5   84.430000              4.000000
          580470              12.5   85.750000              4.000000
          580634              12.5  116.500000              4.000000
          597927              17.5  124.666667              4.000000
          603972              62.5  151.000000              5.428571
...                            ...         ...                   ...
201710    745137              12.5   94.000000              4.000000
          750340              12.5  115.000000              4.000000
          760412              17.5  122.000000              4.000000
          786351              12.5   93.800000              4.000000
          789290               9.0   79.000000              4.000000
          810398              12.5   81.000000              4.000000
          815230              17.5  121.000000              4.000000
          819061              17.5  121.000000              4.000000
          842246              12.5  130.000000              4.000000
          851857              30.0  179.000000              4.000000
          854079              12.5  100.000000              4.000000
          854548              12.5   88.000000              4.000000
          861459              12.5  124.000000              4.000000
          871642              22.5  135.000000              4.000000
          872180              17.5  172.000000              4.000000
          883691              22.5  132.000000              4.000000
          890189               6.5   82.000000              4.000000
          905061               6.5  103.500000              4.000000
          905745              12.5  105.000000              4.000000
          914348              12.5   71.000000              4.000000
          923841              17.5  120.000000              4.000000
          924154              12.5   85.000000              4.000000
          948936               6.5   83.000000              4.000000
          950264              17.5  124.000000              4.000000
          953842              17.5  130.000000              4.000000
          961362              17.5  110.000000              4.000000
          961962               9.0   81.000000              4.000000
          963845              12.5   91.600000              4.000000
          973106              30.0  142.000000              4.000000
          978089               6.5   80.000000              4.000000

                    engine_torque_mean  car_length_mean  car_width_mean  \
sale_date class_id
201201    125403            246.666667      5241.666667     1867.666667
          136916            214.142857      4825.000000     1822.857143
          178529             96.500000      3940.625000     1568.125000
          194450            184.000000      4325.000000     1795.000000
          198427            141.000000      4602.000000     1725.000000
          209945            297.500000      5039.000000     1860.000000
          248352            141.666667      4370.000000     1700.000000
          281301            244.000000      4870.000000     1834.000000
          290854            205.000000      4537.500000     1820.000000
          291086            260.000000      4830.000000     1856.000000
          304458            163.500000      4545.000000     1760.000000
          321683            205.000000      4544.000000     1760.000000
          349023            179.250000      4598.000000     1797.000000
          354068            165.000000      4665.000000     1700.000000
          379876            171.000000      4558.000000     1805.000000
          384924            309.000000      5000.000000     1858.000000
          395234            210.000000      4805.000000     1860.000000
          409854            186.000000      4640.000000     1825.000000
          425432            186.000000      4608.000000     1743.000000
          453752            225.000000      4531.000000     1817.000000
          468392            201.000000      4945.000000     1845.000000
          472603            161.333333      4680.000000     1815.000000
          482497            350.000000      4629.000000     1880.000000
          527809            293.333333      5012.000000     1855.000000
          559132            211.000000      4850.000000     1795.000000
          576298            184.446667      4893.333333     1711.666667
          580470            185.000000      4540.000000     1775.000000
          580634            197.000000      4295.000000     1760.000000
          597927            209.000000      4845.000000     1830.000000
          603972            307.142857      5035.000000     1855.000000
...                                ...              ...             ...
201710    745137            159.000000      4478.666667     1823.000000
          750340            215.000000      4530.000000     1900.000000
          760412            201.000000      4705.000000     1810.000000
          786351            155.500000      4570.000000     1775.000000
          789290            140.000000      4440.000000     1700.000000
          810398            155.000000      4282.000000     1706.000000
          815230            250.000000      4415.000000     1819.000000
          819061            199.000000      4450.000000     1855.000000
          842246            245.000000      4748.000000     1933.000000
          851857            400.000000      4812.000000     1903.000000
          854079            169.000000      4664.000000     1750.000000
          854548            150.000000      4314.000000     1809.000000
          861459            250.000000      4671.000000     1835.000000
          871642            240.000000      4524.000000     1838.000000
          872180            360.000000      4765.000000     1931.000000
          883691            300.000000      4866.000000     1832.000000
          890189            146.500000      4220.000000     1740.000000
          905061            192.500000      4810.000000     1795.000000
          905745            205.000000      4278.000000     1781.000000
          914348            139.666667      3970.000000     1682.000000
          923841            250.300000      4855.000000     1854.000000
          924154            142.000000      4587.000000     1825.000000
          948936            150.000000      4520.000000     1790.000000
          950264            250.000000      4545.000000     1855.000000
          953842            265.000000      4480.000000     1855.000000
          961362            200.000000      4384.000000     1837.000000
          961962            150.000000      4501.000000     1704.000000
          963845            150.700000      4270.000000     1780.000000
          973106            243.000000      4816.000000     1942.000000
          978089            140.000000      4631.000000     1789.000000

                    car_height_mean          ...            \
sale_date class_id                           ...
201201    125403        1764.666667          ...
          136916        1482.142857          ...
          178529        1860.000000          ...
          194450        1680.000000          ...
          198427        1485.000000          ...
          209945        1486.750000          ...
          248352        1460.000000          ...
          281301        1472.000000          ...
          290854        1680.000000          ...
          291086        1484.000000          ...
          304458        1490.000000          ...
          321683        1461.000000          ...
          349023        1477.000000          ...
          354068        1510.000000          ...
          379876        1505.000000          ...
          384924        1498.500000          ...
          395234        1458.000000          ...
          409854        1690.000000          ...
          425432        1465.000000          ...
          453752        1421.000000          ...
          468392        1480.000000          ...
          472603        1525.000000          ...
          482497        1653.000000          ...
          527809        1464.000000          ...
          559132        1475.000000          ...
          576298        1953.333333          ...
          580470        1467.000000          ...
          580634        1523.000000          ...
          597927        1460.000000          ...
          603972        1485.000000          ...
...                             ...          ...
201710    745137        1483.000000          ...
          750340        1700.000000          ...
          760412        1680.000000          ...
          786351        1445.000000          ...
          789290        1490.000000          ...
          810398        1475.000000          ...
          815230        1625.000000          ...
          819061        1635.000000          ...
          842246        1697.000000          ...
          851857        1680.000000          ...
          854079        1505.000000          ...
          854548        1624.000000          ...
          861459        1464.000000          ...
          871642        1685.000000          ...
          872180        1655.000000          ...
          883691        1464.000000          ...
          890189        1620.000000          ...
          905061        1730.000000          ...
          905745        1648.000000          ...
          914348        1462.000000          ...
          923841        1476.000000          ...
          924154        1490.000000          ...
          948936        1750.000000          ...
          950264        1690.000000          ...
          953842        1645.000000          ...
          961362        1612.000000          ...
          961962        1469.000000          ...
          963845        1622.000000          ...
          973106        1669.000000          ...
          978089        1470.000000          ...

                    gearbox_type_count  displacement_count  if_charging_count  \
sale_date class_id
201201    125403                     1                 2.0                  1
          136916                     1                 3.0                  1
          178529                     1                 3.0                  1
          194450                     2                 1.0                  1
          198427                     1                 1.0                  1
          209945                     1                 2.0                  2
          248352                     2                 2.0                  1
          281301                     3                 3.0                  1
          290854                     2                 2.0                  1
          291086                     1                 2.0                  2
          304458                     3                 2.0                  1
          321683                     3                 3.0                  2
          349023                     2                 2.0                  2
          354068                     3                 2.0                  1
          379876                     2                 2.0                  1
          384924                     1                 3.0                  2
          395234                     2                 2.0                  1
          409854                     1                 1.0                  1
          425432                     3                 3.0                  2
          453752                     1                 2.0                  1
          468392                     2                 2.0                  1
          472603                     3                 2.0                  1
          482497                     1                 1.0                  1
          527809                     1                 2.0                  2
          559132                     1                 2.0                  1
          576298                     1                 3.0                  2
          580470                     3                 2.0                  2
          580634                     2                 1.0                  2
          597927                     2                 2.0                  1
          603972                     3                 5.0                  2
...                                ...                 ...                ...
201710    745137                     2                 1.0                  1
          750340                     1                 1.0                  1
          760412                     1                 1.0                  1
          786351                     1                 1.0                  1
          789290                     1                 1.0                  1
          810398                     1                 1.0                  1
          815230                     1                 1.0                  1
          819061                     1                 1.0                  1
          842246                     1                 1.0                  1
          851857                     1                 1.0                  1
          854079                     1                 1.0                  1
          854548                     1                 1.0                  1
          861459                     1                 1.0                  1
          871642                     1                 1.0                  1

In [37]:
# 建模方式如下：
# 特征是历史的销售报表，标签是这个月的销售量。就像作为销售经理，用当月报表预测下个月汽车销量一样。
# “历史”这个词可以有多种跨度：上个月，过去半年，过去一年，过去三年，历史全部。需要注意有些车型没有上市这么长时间（最短只上了2个月）
# 暂时只考虑过去一个月的销售情况，构造特征的时候可以增加上个月销量和其他信息的交叉特征
# 注意验证集构造，可以用原始训练集最后一个月的销售情况作验证集，其中有4个上市两个月的车型被排除在这个验证集外，可以最后再单独考虑这四个车型。

In [38]:
!mkdir baseline

In [41]:
train_df = train_df.swaplevel(0, 1, axis=0)

In [64]:
train_df["index"] = train_df.index
train_df["sale_date"] = train_df["index"].apply(lambda item: item[1])
train_df["class_id"] = train_df["index"].apply(lambda item: item[0])
train_df["sale_date"] = train_df["sale_date"].apply(lambda date: (date / 100 - 2012) * 12 + date % 100)
del train_df["index"]

In [92]:
train_tmp = train_df.copy()
train_tmp["label"] = -1
label_df = train_tmp[["sale_quantity", "sale_date", "class_id"]]
for index in train_df.index:
    date = (index[1] / 100 - 2012) * 12 + index[1] % 100
    class_id = index[0]
#     train_tmp.loc[index, "label"] = label_df[(label_df["sale_date"] == date - 1) & 
#                                              (label_df["class_id"] == class_id)]["sale_quantity"].values[0]
    label = label_df[(label_df["sale_date"] == date + 1) & (label_df["class_id"] == class_id)]["sale_quantity"].values
    if len(label) > 0:
        train_tmp.loc[index, "label"] = label[0]
train_tmp.head()

,,sale_quantity,compartment_mean,displacement_mean,avg_price_mean,power_mean,cylinder_number_mean,engine_torque_mean,car_length_mean,car_width_mean,car_height_mean,...,driven_type_id_count,fuel_type_id_count,newenergy_type_id_count,emission_standards_id_count,if_MPV_id_count,if_luxurious_id_count,rated_passenger_count,sale_date,class_id,label
class_id,sale_date,,,,,,,,,,,,,,,,,,,,,
125403,201201,90,2.0,2.600000,42.5,145.333333,4.666667,246.666667,5241.666667,1867.666667,1764.666667,...,1,1,1,1,1,1,1,1,125403,156
136916,201201,665,3.0,2.271429,17.5,121.857143,4.000000,214.142857,4825.000000,1822.857143,1482.142857,...,1,1,1,1,1,1,1,1,136916,351
178529,201201,1739,1.0,1.087500,5.0,54.250000,4.000000,96.500000,3940.625000,1568.125000,1860.000000,...,1,1,1,1,1,1,1,1,178529,1493
194450,201201,65,2.0,2.000000,17.5,104.000000,4.000000,184.000000,4325.000000,1795.000000,1680.000000,...,1,1,1,1,1,1,1,1,194450,59
198427,201201,47,3.0,1.500000,6.5,79.000000,4.000000,141.000000,4602.000000,1725.000000,1485.000000,...,1,1,1,1,1,1,1,1,198427,21

In [93]:
train_tmp.to_csv("./baseline/train_origin.csv", index=None)

In [102]:
train_origin = pd.read_csv("./baseline/train_origin.csv")
train_X = train_origin[train_origin["label"] >= 0].copy()
train_y = train_X["label"]
del train_X["sale_quantity"]
del train_X["class_id"]
del train_X["label"]
del train_X["sale_date"]
test_X = train_origin[train_origin["sale_date"] == 70].copy()
class_id = test_X["class_id"]
del test_X["sale_quantity"]
del test_X["class_id"]
del test_X["label"]
del test_X["sale_date"]
cv_train_X = train_origin[(train_origin["label"] >= 0) & (train_origin["sale_date"] < 69)].copy()
cv_train_y = cv_train_X["label"]
del cv_train_X["sale_quantity"]
del cv_train_X["class_id"]
del cv_train_X["label"]
del cv_train_X["sale_date"]
cv_test_X = train_origin[(train_origin["label"] >= 0) & (train_origin["sale_date"] == 69)].copy()
cv_test_y = cv_test_X["label"]
del cv_test_X["sale_quantity"]
del cv_test_X["class_id"]
del cv_test_X["label"]
del cv_test_X["sale_date"]

,compartment_mean,displacement_mean,avg_price_mean,power_mean,cylinder_number_mean,engine_torque_mean,car_length_mean,car_width_mean,car_height_mean,total_quality_mean,...,gearbox_type_count,displacement_count,if_charging_count,driven_type_id_count,fuel_type_id_count,newenergy_type_id_count,emission_standards_id_count,if_MPV_id_count,if_luxurious_id_count,rated_passenger_count
5447,2.000000,1.600000,12.5,91.6,4.0,150.700000,4270.000000,1780.0,1630.0,1830.000000,...,1,1.0,1,1,1,1,1,1,1,1
5448,2.000000,1.500000,12.5,125.0,4.0,230.000000,4650.000000,1850.0,1695.0,2045.000000,...,2,1.0,1,1,1,1,1,1,1,1
5449,2.000000,2.500000,42.5,142.0,4.0,253.000000,5256.000000,1878.0,1776.0,2415.000000,...,1,1.0,1,1,1,1,1,1,1,1
5450,3.000000,2.000000,17.5,123.0,4.0,199.000000,4850.000000,1825.0,1480.0,2000.000000,...,1,1.0,1,1,1,1,1,1,1,1
5451,2.000000,1.500000,6.5,110.0,4.0,215.000000,4715.000000,1830.0,1780.0,2095.000000,...,1,1.0,1,1,1,1,1,1,1,1
5452,3.000000,1.600000,12.5,81.0,4.0,155.000000,4475.000000,1706.0,1469.0,1610.000000,...,2,1.0,1,1,1,1,1,1,1,1
5453,1.000000,1.200000,5.0,60.3,4.0,115.000000,3797.000000,1510.0,1820.0,1575.000000,...,1,1.0,1,1,1,1,1,1,1,1
5454,2.000000,1.500000,12.5,84.0,4.0,146.000000,4370.000000,1809.0,1461.0,1715.000000,...,1,1.0,1,1,1,1,1,1,1,1
5455,2.000000,1.400000,9.0,73.3,4.0,132.400000,4240.000000,1750.0,1505.0,1570.000000,...,1,1.0,1,1,1,1,1,1,1,1
5456,2.000000,1.600000,17.5,130.0,4.0,265.000000,4475.000000,1850.0,1655.0,2090.000000,...,1,1.0,1,1,1,1,1,1,1,1
5457,3.000000,1.500000,6.5,80.0,4.0,140.000000,4547.000000,1734.0,1470.0,1620.000000,...,1,1.0,1,1,1,1,1,1,1,1
5458,3.000000,1.500000,17.5,101.5,4.0,198.000000,4718.000000,1802.0,1468.5,1757.500000,...,2,1.0,2,1,1,1,1,1,1,1
5459,3.000000,2.000000,42.5,165.0,4.0,310.000000,5087.000000,1868.0,1500.0,2235.000000,...,1,1.0,1,1,1,1,1,1,1,1
5460,2.000000,1.500000,12.5,110.0,4.0,210.000000,4335.000000,1814.0,1695.0,1918.000000,...,1,1.0,1,1,1,1,1,1,1,1
5461,2.000000,1.700000,30.0,121.0,4.0,285.000000,4398.000000,1841.0,1591.0,2062.500000,...,1,2.0,1,1,1,1,1,1,1,1
5462,2.000000,1.400000,17.5,96.0,4.0,225.000000,4348.000000,1807.0,1574.0,1880.000000,...,1,1.0,1,1,1,1,1,1,1,1
5463,3.000000,1.400000,9.0,73.3,4.0,132.400000,4400.000000,1740.0,1460.0,1520.000000,...,1,1.0,1,1,1,1,1,1,1,1
5464,2.000000,2.000000,22.5,110.0,4.0,200.000000,4672.000000,1843.0,1678.0,2004.000000,...,1,1.0,1,1,1,1,1,1,1,1
5465,3.000000,1.500000,17.5,120.0,4.0,252.000000,4923.000000,1854.0,1470.0,1865.000000,...,1,1.0,1,1,1,1,1,1,1,1
5466,2.000000,1.500000,6.5,78.0,4.0,135.000000,4360.000000,1685.0,1820.0,1925.000000,...,1,1.0,1,1,1,1,1,1,1,1
5467,2.000000,1.500000,5.0,82.0,4.0,146.500000,4415.000000,1685.0,1850.0,1825.000000,...,1,1.0,1,1,1,1,1,1,1,1
5468,3.000000,1.800000,30.0,132.0,4.0,300.000000,4872.000000,1834.0,1484.0,2100.000000,...,1,1.0,1,1,1,1,1,1,1,1
5469,2.500000,1.400000,30.0,110.0,4.0,250.000000,4384.500000,1790.5,1438.5,1792.500000,...,1,1.0,1,1,1,1,1,1,1,1
5470,3.000000,1.500000,12.5,86.0,4.0,148.000000,4582.000000,1795.0,1458.0,1820.000000,...,1,1.0,1,1,1,1,1,1,1,1
5471,2.000000,1.550000,9.0,96.5,4.0,177.500000,4440.000000,1833.0,1545.0,1754.000000,...,1,2.0,2,1,1,1,1,1,1,1
5472,2.000000,1.500000,17.5,142.0,4.0,243.000000,4585.000000,1855.0,1679.0,2030.000000,...,1,1.0,1,1,1,1,1,1,1,1
5473,3.000000,1.500000,22.5,120.0,4.0,252.000000,4902.000000,1863.0,1456.0,1900.000000,...,1,1.0,1,1,1,1,1,1,1,1
5474,2.000000,1.600000,9.0,92.0,4.0,160.000000,4170.000000,1810.0,1635.0,1700.000000,...,1,1.0,1,1,1,1,1,1,1,1
5475,2.000000,1.500000,6.5,101.5,4.0,179.000000,4354.000000,1840.0,1654.0,1692.500000,...,2,1.0,2,1,1,1,1,1,1,1
5476,3.000000,1.200000,12.5,85.0,4.0,185.000000,4630.000000,1775.0,1480.0,1770.000000,...,1,1.0,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5557,2.666667,1.600000,12.5,94.0,4.0,159.000000,4478.666667,1823.0,1483.0,1699.666667,...,2,1.0,1,1,1,1,1,1,1,1
5558,2.000000,1.500000,12.5,115.0,4.0,215.000000,4530.000000,1900.0,1700.0,1920.000000,...,1,1.0,1,1,1,1,1,1,1,1
5559,2.000000,2.000000,17.5,122.0,4.0,201.000000,4705.000000,1810.0,1680.0,1985.000000,...,1,1.0,1,1,1,1,1,1,1,1
5560,3.000000,1.600000,12.5,93.8,4.0,155.500000,4570.000000,1775.0,1445.0,1650.000000,...,1,1.0,1,1,1,1,1,1,1,1
5561,3.000000,1.500000,9.0,79.0,4.0,140.000000,4440.000000,1700.0,1490.0,1500.000000,...,1,1.0,1,1,1,1,1,1,1,1
5562,2.000000,1.600000,12.5,81.0,4.0,155.000000,4282.000000,1706.0,1475.0,1635.000000,...,1,1.0,1,1,1,1,1,1,1,1
5563,2.000000,1.400000,17.5,121.0,4.0,250.000000,4415.000000,1819.0,1625.0,1830.000000,...,1,1.0,1,1,1,1,1,1,1,1
5564,2.000000,2.000000,17.5,121.0,4.0,199.000000,4450.000000,1855.0,1635.0,1980.000000,...,1,1.0,1,1,1,1,1,1,1,1
5565,2.000000,1.800000,12.5,130.0,4.0,245.000000,4748.000000,1933.0,1697.0,2162.000000,...,1,1.0,1,1,1,1,1,1,1,1
5566,2.000000,2.000000,30.0,179.0,4.0,400.000000,4812.000000,1903.0,1680.0,2275.000000,...,1,1.0,1,1,1,1,1,1,1,1
5567,3.000000,1.800000,12.5,100.0,4.0,169.000000,4664.000000,1750.0,1505.0,1685.000000,...,1,1.0,1,1,1,1,1,1,1,1
5568,2.000000,1.500000,12.5,88.0,4.0,150.000000,4314.000000,1809.0,1624.0,1690.000000,...,1,1.0,1,1,1,1,1,1,1,1
5569,3.000000,1.500000,12.5,124.0,4.0,250.000000,4671.000000,1835.0,1464.0,1720.000000,...,1,1.0,1,1,1,1,1,1,1,1
5570,2.000000,1.500000,22.5,135.0,4.0,240.000000,4524.000000,1838.0,1685.0,1967.000000,...,1,1.0,1,1,1,1,1,1,1,1
5571,2.000000,2.000000,17.5,172.0,4.0,360.000000,4765.000000,1931.0,1655.0,2505.000000,...,1,1.0,1,1,1,1,1,1,1,1
5572,3.000000,1.800000,22.5,132.0,4.0,300.000000,4866.000000,1832.0,1464.0,2000.000000,...,1,1.0,1,1,1,1,1,1,1,1
5573,2.000000,1.500000,6.5,82.0,4.0,146.500000,4220.000000,1740.0,1620.0,1590.000000,...,2,1.0,1,1,1,1,1,1,1,1
5574,2.000000,1.550000,6.5,103.5,4.0,192.500000,4810.000000,1795.0,1730.0,1965.000000,...,1,2.0,2,1,1,1,1,1,1,1
5575,2.000000,1.400000,12.5,105.0,4.0,205.000000,4278.000000,1781.0,1648.0,1840.000000,...,1,1.0,1,1,1,1,1,1,1,1
5576,2.000000,1.466667,12.5,71.0,4.0,139.666667,3970.000000,1682.0,1462.0,1576.666667,...,2,2.0,1,1,1,1,1,1,1,1
5577,3.000000,1.500000,17.5,120.0,4.0,250.300000,4855.000000,1854.0,1476.0,1960.000000,...,1,1.0,1,1,1,1,1,1,1,1
5578,3.000000,1.500000,12.5,85.0,4.0,142.000000,4587.000000,1825.0,1490.0,1652.500000,...,2,1.0,1,1,1,1,1,1,1,1
5579,2.000000,1.500000,6.5,83.0,4.0,150.000000,4520.000000,1790.0,1750.0,1960.000000,...,1,1.0,1,1,1,1,1,1,1,1
5580,2.000000,1.500000,17.5,124.0,4.0,250.000000,4545.000000,1855.0,1690.0,1859.500000,...,2,1.0,1,1,1,1,1,1,1,1
5581,2.000000,1.600000,17.5,130.0,4.0,265.000000,4480.000000,1855.0,1645.0,2090.000000,...,1,1.0,1,1,1,1,1,1,1,1
5582,2.000000,2.000000,17.5,110.0,4.0,200.000000,4384.000000,1837.0,1612.0,1870.000000,...,1,1.0,1,1,1,1,1,1,1,1
5583,3.000000,1.500000,9.0,81.0,4.0,150.000000,4501.000000,1704.0,1469.0,1640.000000,...,1,1.0,1,1,1,1,1,1,1,1
5584,2.000000,1.600000,12.5,91.6,4.0,150.700000,4270.000000,1780.0,1622.0,1752.000000,...,1,1.0,1,1,1,1,1,1,1,1
5585,2.000000,1.500000,30.0,142.0,4.0,243.000000,4816.000000,1942.0,1669.0,2180.000000,...,1,1.0,1,1,1,1,1,1,1,1
5586,3.000000,1.500000,6.5,80.0,4.0,140.000000,4631.000000,1789.0,1470.0,1632.500000,...,2,1.0,1,1,1,1,1,1,1,1